{% extends "account/base.html" %}
{% load cart_template_tags %}

{% load i18n %}

{% block head_title %}{% trans "Account Inactive" %}{% endblock %}

{% block content %}
    <section class="banner-area organic-breadcrumb" style="background: antiquewhite">

        <div class="container">
			<div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
				<div class="col-first">
					<h1>Add A product</h1>
					<nav class="d-flex align-items-center">
						<a href="/">Home</a>
					</nav>
				</div>
			</div>
		</div>
	</section>

<h1>{% trans "Account Inactive" %}</h1>

<p>{% trans "This account is inactive." %}</p>

    {% include 'scripts.html' %}

{% endblock %}
