{% extends "account/base.html" %}

{% load i18n %}
{% load cart_template_tags %}


{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
    <section class="banner-area organic-breadcrumb" style="background: darkslategray">

        <div class="container">
			<div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
				<div class="col-first">
					<h1>Account</h1>
					<nav class="d-flex align-items-center">
						<a href="/">Home</a>
					</nav>
				</div>
			</div>
		</div>
	</section>
    <h1>{% trans "Change Password" %}</h1>

    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" name="action">{% trans "Change Password" %}</button>
    </form>

    {% include 'scripts.html' %}

{% endblock %}
