{% load static %}
{% load i18n %}

{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}
{% get_language_info_list for LANGUAGES as languages %}

<head>
    <link rel="stylesheet" href="{% static 'css/500.css' %}">
    <title>500 - Server Error</title>
</head>
<div>
  <span class='error-num'>5</span>
  <div class='eye'></div>
  <div class='eye'></div>
  <p class='sub-text'>Oh eyeballs! Something went wrong. We're <i>looking</i> to see what happened.</p>
    {% for lang in languages %}
    {% if lang.code == LANGUAGE_CODE %}
  <a href="/{{ language.code }}/{{request.get_full_path|slice:"4:"}}">Go back</a>
    {% endif %}
    {% endfor %}
</div>

<script src="{% static 'js/500.js' %}"></script>