<form method="POST" action="{% url 'api-1.0.0:product' %}" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="text" name="title" />
    <input type="number" name="quantity" />
    <input type="number" name="price" />
    <input type="number" name="discount_price" />
    <input type="text" name="description" />
    <input type="text" name="detailed_description" />
    <input type="file" name="banner" />
    <input type="file" name="image_main" />
    <input type="file" name="image_1" />
    <input type="file" name="image_2" />
    <input type="file" name="image_3" />
    <br/>
    {{ form.media }}
    <button>Submit</button>
</form>